<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <%- include ('../partials/message') %>
                <table style="width:100%">
                    <tr>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                    <% users.forEach( main => { %>
                            <tr>
                                <td><%main.username%></td>
                                <td><%main.highscore%></td>
                            </tr>
                    <% }); %>
                </table>
            </div>
        </main>

        <%- include ('../partials/footer') %>