<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <%- include ('../partials/message') %>
            <h1>This is the leaderboard page</h1>
</main>

<%- include ('../partials/footer') %>