<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <%- include ('../partials/message') %>
        <h1>User's Stats</h1>
        <p>High Score: highScore</p>
        <p>Images Seen: totalImages</p>
</main>

<%- include ('../partials/footer') %>